div.container{
   padding: 10px;
   width: 95vw;
   height: 95vh;
   margin: auto;
   display: contents;
   
}

div#welcomePage{
   display: grid;
   margin: auto;
   width: 100%;
   height: 100%;
   background-image: url("resources/welcomepageBack.gif");
   grid-template-columns: 1fr 1fr 1fr ;
   grid-template-rows: 4fr 1fr   ;
}
div#welcomePagebtns{
   grid-row: 2/ span 1;
   grid-column: 2/ span 1;
   text-align: center;
}
div#loginPage{
   display: none;
   margin: auto;
   grid-template-columns: 1fr 1fr 1fr ;
   grid-template-rows: 2fr 4fr ;
   width: 100%;
   height: 100%;
   background-image: url("resources/welcomepageBack.gif");
}

div#configurationPage{
   display:none;
   position: absolute;
   top: 45%;
   left: 50%;
   width: 400px;
   padding: 50px;
   transform: translate(-50%, -50%);
   background: rgba(255, 255, 255, 0.95);
   box-sizing: border-box;
   box-shadow: 0 15px 25px rgba(255, 213, 244, 0.7);
   border-radius: 10px;
}
div#logintext{
   grid-row: 1/ span 1 ;
   grid-column: 1/ span 3;
   text-align: center;
   color: blue;
   padding-top: 50px;
   font-size: xx-large;

}
ul#loginDetailsList{
   grid-row: 2/ span 1 ;
   grid-column: 1/ span 3;
   text-align: center;

}
h1#logintext_H{
   text-align: center;
   margin: auto;
   padding-top: 50px;
}

div#gamePage{
   /* display: grid; */
   margin: auto;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   width: 100%;
   height: 100%;
   display: none;
}
div#gameCanvas{
   grid-row: 2/ span 1;
   grid-column: 2/ span 1;
   width: 100%;
   height: 100%;
   background-image:url("resources/welcomepageBack.gif")

}
div#gameButtons{
   grid-row: 3/ span 1;
   grid-column: 2/ span 1;
   text-align: center;

}
div#scoreBord{
   grid-row: 2/ span 1;
   grid-column: 1/ span 1;
   text-align: center;
   width: 95%;
   height: 100%;
   border: 2px solid black;
   align-self: center;
}
div#timerLifeBar
{
   /*Not sure about grid-row */
   grid-row : 1/ span 3;
   grid-column: 2/ span 1;
   text-align: center;
}
div#registerPage{
   display: none;
   margin: auto;
   grid-template-columns: 1fr 1fr 1fr ;
   grid-template-rows: 2fr 4fr 2fr;
   width: 100%;
   height: 100%;
   background-image: url("resources/welcomepageBack.gif");
}
ul#registerDetailsList{
   grid-row: 2/ span 1;
   grid-column: 2/ span1;
   width: 100%;
   height: 100%;
}

th,th,td{
   border: 2px solid black;
   padding: 3px;
}
