@font-face {
   font-family: "mainfont";
   src: url("resources/Fonts/8bitFont.ttf");
}
div.container{
   font-family: "mainfont";
   /* padding: 10px; */
   width: 100%;
   height: 100%;
   margin: auto;
   display: contents;
   
}

div#welcomePage{
   display: grid;
   margin: auto;
   width: 100%;
   height: 100%;
   background-image: url("resources/editedpar1background.gif");
   background-size:cover ;
   grid-template-columns: 1fr 1fr 1fr ;
   grid-template-rows: 4fr 1fr   ;
}
div#welcomePagebtns{
   grid-row: 2/ span 1;
   grid-column: 2/ span 1;
   text-align: center;
}
div#loginPage{
   display: none;
   margin: auto;
   grid-template-columns: 1fr 1fr 1fr ;
   grid-template-rows: 2fr 4fr ;
   width: 100%;
   height: 100%;
   background-image: url("resources/welcomepageBack.gif");
}

div#configurationPage{
   /* position: absolute; */
   text-align: center;
   width: 100%;
   /* padding: 50px; */
   /* transform: translate(-50%, -50%); */
   background: rgba(255, 255, 255, 0.95);
   box-sizing: border-box;
   box-shadow: 0 15px 25px rgba(201, 219, 36, 0.7);
   border-radius: 10px;
   grid-row: 2/ span 1;
   grid-column: 2/ span 1;


}
div#configurationPage:hover{
   transform: scale(1.05);
   box-shadow: 0 15px 45px
}
div#configlocation{
   display: none;
   grid-template-columns: 1fr 4fr 1fr ;
   grid-template-rows: 1fr 4fr 1fr;
   width: 100%;
   height: 100%;
   margin: auto;
}
div#logintext{
   grid-row: 1/ span 1 ;
   grid-column: 1/ span 3;
   text-align: center;
   color: blue;
   padding-top: 50px;
   font-size: xx-large;

}
ul#loginDetailsList{
   grid-row: 2/ span 1 ;
   grid-column: 1/ span 3;
   text-align: center;

}
h1#logintext_H{
   text-align: center;
   margin: auto;
   padding-top: 50px;
   color: 	#00CED1;
   transform: scale(1.1);




}

div#gamePage{
   /* display: grid; */
   margin: auto;
   grid-template-columns: 1fr 3fr 1fr;
   grid-template-rows: 1fr 8fr 1fr;
   width: 100%;
   height: 100%;
   display: none;
   background-color: 	rgb(248,248,248);
   /* background-image:url("resources/welcomepageBack.gif") */
}
div#gameCanvas{
   grid-row: 2/ span 1;
   grid-column: 2/ span 1;
   width: 100%;
   height: 100%;
   background-image:url("resources/welcomepageBack.gif")

}
body{
   font-family: "mainfont";
   padding: 0px;
   background-image: url("resources/bg3.gif");
   background-size: cover;
   margin:auto;

   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 0.1fr 50fr 0.3fr;
   grid-row: 1/ span 2;
   grid-column: 1/ span 1;
   width: 95vh;
   width: 95vw;
   background-color: 	rgb(248,248,248);
 
}

div#header{
   font-family: "mainfont";

   margin: auto;
   grid-row: 1/ span 1;
   grid-column: 1/ span 1;
   width: 100%;
   height: 100%;
}
div#main{
   font-family: "mainfont";

   margin: auto;
   grid-row: 2/ span 1;
   grid-column: 1/ span 1;
   width: 100%;
   height: 100%;
}
div#gameButtons{
   margin-top: 2%;
   grid-row: 3/ span 1;
   grid-column: 2/ span 1;
   text-align: center;

}
div#scoreBord{
   grid-row: 2/ span 1;
   grid-column: 1/ span 1;
   text-align: center;
   width: 95%;
   height: 100%;
   border: none;
   text-align: center;
}
div#timerLifeBar
{
   /*Not sure about grid-row */
   grid-row : 1/ span 1;
   grid-column: 1/ span 3;
   text-align: center;
}
div#registerPage{
   display: none;
   margin: auto;
   grid-template-columns: 1fr 1fr 1fr ;
   grid-template-rows: 4fr 1fr;
   width: 100%;
   height: 100%;
   background-image: url("resources/welcomepageBack.gif");
}
div#backhome{
   grid-row: 2/ span 1;
   grid-column: 2/ span 1;
   width: 100%;
   height: 100%;
   text-align: center;
}

li.registerli{
   /* list-style-type: none;
   padding-top: 1%; */
   display: inline-block;
   /* padding: 10px 20px; */
   /* background-color: #FFD700; */
   color: #000;
   font-size: 16px;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 2px;
   text-align: center;
   /* border: ; */
   cursor: pointer;
   position: relative;
   /* overflow:auto; */
   
   width: 100%;
   height: 10%;
   z-index: 0;
   

}
ul#registerDetailsList{
   grid-row: 1/ span 1;
   grid-column: 2/ span 1;
   width: 100%;
   height: 100%;
   margin: auto;
   text-align: center;
   padding: 0%;
   font-size: xx-large;
   margin-top: 12%;
}
button#BackHomebtn{
   width: 100%;
   margin-top: 10%;
}
label.labelregister{
   color: aliceblue;
}
ul#menulist{
   display: flex;
   /* gap: 5%; */
   list-style: none;
   text-align: center;
   background-color: black;
   margin: 0%;
   padding: 0px;
}
input.menutbtn{
   display: inline-block;
   padding: 10px 20px;
   background-color: #FFD700;
   color: #000;
   font-size: 16px;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 2px;
   text-align: center;
   /* border: ; */
   cursor: pointer;
   position: relative;
   /* overflow:auto; */
   transition: all 0.2s ease-in-out;
   width: 100%;
   height: 100%;
   z-index: 0;
   
}
input.menutbtn:hover{
   
   transform: scale(1.1);
   cursor: pointer;
   z-index: 1;

}
th,th,td{
   border: 2px solid black;
   padding: 3px;
}
ul#ConfigurationDetails{
   list-style: none;
}
button{
   font-family: "mainfont";

}
input{
   font-family: "mainfont";

}
th.lifeth{
   font-family: "mainfont";
   border: none;
   width: 15%;
   height: 5%;
}
img.hartimg{

   width: 15%;
   height:15%;
}
table#LifeTable{
   font-family: "mainfont";
   text-align: center;
   border: none;
}
th#lifeTH{
   font-family: "mainfont";

   border: none;
}
li.menuli{
   font-family: "mainfont";
   width: 100%;
   height: auto;
   text-align: center;
}
div#youlostpage{
   width: 100%;
   height: 100%;
   display: none;
   grid-template-columns: 1fr ;
   grid-template-rows: 4fr 2fr 0.5fr;
   text-align: center;
}
ul{
   list-style: none;

}
div#header_list{
   width: 100%;
   height: 100%;
}
div#footer{
   grid-row: 3/ span 1;
   grid-column: 1/ span 3;
   margin: 0%;
   cursor: pointer;


}

ul#footerul{
   margin: 0%;
   width: 100%;
   height: 100%;
   padding: 0px;
   list-style: none;
   background-color: black;
   display:flex;

}
li#menuimg{
   margin:0% ;
   padding: 0%;
   text-align: center;
}
img#imgmenulist{
   margin : 0%;
   width: 50px;
   height: 50px;
   padding: 0%;
   content:url("resources/Yoda.png");
}
p.footerTags{
   margin: 0%;
   padding: 0%;
}
img#imageliyoulostimage{
   background-image: url("resources/youloseimg.png");
   background-size: cover;
   width: 520px;
   height: 290px;
   margin-top: 5%;
   overflow: hidden; 
   border-radius: 8px; 
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
   transition: transform 0.3s ease-in-out; 

}
img#imageliyoulostimage:hover{

   transform: scale(1.1);
}
div#imagecpmtaineryoulost{
   width: 100%;
   height: 100%;
   grid-row: 1/ span 1;
   grid-column: 1/ span 1;
   text-align: center;
}
div#youloosedivlist{
   width: 100%;
   height: 100%;
   grid-row: 2/ span 1;
   grid-column: 1/ span 1;
   text-align: center;
}
div#btnyoulostbtn{
   width: 100%;
   height: 100%;
   grid-row: 3/ span 1;
   grid-column: 1/ span 1;
}
#Close_Modal {
   position: absolute;
   top: 0;
   right: 0;
 }

button#comtinueafterloose:hover {
   background-color: #000;
   color: #FFD700;
   transform: scale(1.5);
}
button#loginbtn{
   background-color: #FFD700;
   color: #000;
}
button#loginbtn:hover{
   color: #FFD700;
   background-color: #000;
   transform: scale(1.2);

}
button{
   display: inline-block;
   padding: 10px 20px;
   background-color: #FFD700;
   color: #000;
   font-size: 16px;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 2px;
   text-align: center;
   border: none;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   transition: all 0.2s ease-in-out;
}
button:hover{
   background-color: #000;
   color: #FFD700;
   transform: scale(1.4);
   z-index: 1;
}
input#username{
   width: 40%; /* Set the width of the input text element to 100% */
   padding: 10px 15px; /* Add padding for spacing */
   font-size: 16px; /* Set the font size */
   background-color: #000; /* Set the background color to black */
   color: #FFD700; /* Set the text color to gold */
   border: none; /* Remove the default border */
   border-bottom: 2px solid #FFD700; /* Add a gold border bottom */
   outline: none; /* Remove the outline on focus */
   letter-spacing: 1px; /* Add letter spacing for retro look */
   transition: all 0.2s ease-in-out;

}  
input#password{
   width: 40%; /* Set the width of the input text element to 100% */
   padding: 10px 15px; /* Add padding for spacing */
   font-size: 16px; /* Set the font size */
   background-color: #000; /* Set the background color to black */
   color: #FFD700; /* Set the text color to gold */
   border: none; /* Remove the default border */
   border-bottom: 2px solid #FFD700; /* Add a gold border bottom */
   outline: none; /* Remove the outline on focus */
   letter-spacing: 1px; /* Add letter spacing for retro look */
   transition: all 0.2s ease-in-out;

}
li.liloginpage{
   margin-bottom: 5%;
}
li.liloginpage:hover{
   cursor: pointer;
   transform: scale(1.05);
}
table.timeandlifebartable{
   width: 100%;
   height: 100%;
   text-align: center;

}
tr#lifeandotherthingTR{
   text-align: center;
}
input.gamebtnclsndr{
   display: inline-block;
   padding: 10px 20px;
   background-color: #FFD700;
   color: #000;
   font-size: 16px;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 2px;
   text-align: center;
   border: none;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   transition: all 0.2s ease-in-out;
}
input.gamebtnclsndr:hover{
   transform:scale(1.2) ;
   background-color: #000;
   color: #FFD700;
   z-index: 1;

}
input.inputregisterclasses{
   background-color: #000;
   color: #FFD700;
   transition: all 0.2s ease-in-out;
}
input.inputregisterclasses:hover{
   transform: scale(1.4);
   z-index: 1;
}
label.labelregister{
   color: #FFD700;


}
input#submitform{
   display: inline-block;
   padding: 10px 20px;
   background-color: #FFD700;
   color: #000;
   font-size: 14px;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 2px;
   text-align: center;
   border: none;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   transition: all 0.2s ease-in-out;
}
table#scoreBordTable{
   width: 100%;
   height: auto;
}
input#submitform:hover{
   transform: scale(1.2);
   z-index: 1;
}
#About_Modal {padding: 0;}
#Modal_DIV {padding: 16px;}
