@font-face {
   font-family: "mainfont";
   src: url("resources/Fonts/8bitFont.ttf");
}
div.container{
   font-family: "mainfont";
   /* padding: 10px; */
   width: 100%;
   height: 100%;
   margin: auto;
   display: contents;
   
}

div#welcomePage{
   display: grid;
   margin: auto;
   width: 100%;
   height: 100%;
   background-image: url("resources/welcomepageBack.gif");
   grid-template-columns: 1fr 1fr 1fr ;
   grid-template-rows: 4fr 1fr   ;
}
div#welcomePagebtns{
   grid-row: 2/ span 1;
   grid-column: 2/ span 1;
   text-align: center;
}
div#loginPage{
   display: none;
   margin: auto;
   grid-template-columns: 1fr 1fr 1fr ;
   grid-template-rows: 2fr 4fr ;
   width: 100%;
   height: 100%;
   background-image: url("resources/welcomepageBack.gif");
}

div#configurationPage{
   /* position: absolute; */
   text-align: center;
   width: 100%;
   /* padding: 50px; */
   /* transform: translate(-50%, -50%); */
   background: rgba(255, 255, 255, 0.95);
   box-sizing: border-box;
   box-shadow: 0 15px 25px rgba(255, 213, 244, 0.7);
   border-radius: 10px;
   grid-row: 2/ span 1;
   grid-column: 2/ span 1;


}
div#configlocation{
   display: none;
   grid-template-columns: 1fr 4fr 1fr ;
   grid-template-rows: 1fr 4fr 1fr;
   width: 100%;
   height: 100%;
   margin: auto;
}
div#logintext{
   grid-row: 1/ span 1 ;
   grid-column: 1/ span 3;
   text-align: center;
   color: blue;
   padding-top: 50px;
   font-size: xx-large;

}
ul#loginDetailsList{
   grid-row: 2/ span 1 ;
   grid-column: 1/ span 3;
   text-align: center;

}
h1#logintext_H{
   text-align: center;
   margin: auto;
   padding-top: 50px;
}

div#gamePage{
   /* display: grid; */
   margin: auto;
   grid-template-columns: 1fr 3fr 1fr;
   grid-template-rows: 1fr 8fr 1fr;
   width: 100%;
   height: 100%;
   display: none;
   /* background-image:url("resources/welcomepageBack.gif") */
}
div#gameCanvas{
   grid-row: 2/ span 1;
   grid-column: 2/ span 1;
   width: 100%;
   height: 100%;
   background-image:url("resources/welcomepageBack.gif")

}
body{
   font-family: "mainfont";
   padding: 0px;
   
   margin: auto;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 0.5fr 50fr 0.3fr;
   grid-row: 1/ span 2;
   grid-column: 1/ span 1;
   width: 95vh;
   width: 95vw;
 
}

div#header{
   font-family: "mainfont";

   margin: auto;
   grid-row: 1/ span 1;
   grid-column: 1/ span 1;
   width: 100%;
   height: 100%;
}
div#main{
   font-family: "mainfont";

   margin: auto;
   grid-row: 2/ span 1;
   grid-column: 1/ span 1;
   width: 100%;
   height: 100%;
}
div#gameButtons{
   margin-top: 3%;
   grid-row: 3/ span 1;
   grid-column: 2/ span 1;
   text-align: center;

}
div#scoreBord{
   grid-row: 2/ span 1;
   grid-column: 1/ span 1;
   text-align: center;
   width: 95%;
   height: 100%;
   border: 2px solid black;
   align-self: center;
}
div#timerLifeBar
{
   /*Not sure about grid-row */
   grid-row : 1/ span 1;
   grid-column: 1/ span 3;
   text-align: center;
}
div#registerPage{
   display: none;
   margin: auto;
   grid-template-columns: 1fr 1fr 1fr ;
   grid-template-rows: 4fr 1fr;
   width: 100%;
   height: 100%;
   background-image: url("resources/welcomepageBack.gif");
}
div#backhome{
   grid-row: 2/ span 1;
   grid-column: 2/ span 1;
   width: 100%;
   height: 100%;
   text-align: center;
}

li.registerli{
   list-style-type: none;
   padding-top: 1%;
   

}
ul#registerDetailsList{
   grid-row: 1/ span 1;
   grid-column: 2/ span 1;
   width: 100%;
   height: 100%;
   margin: auto;
   text-align: center;
   padding: 0%;
   font-size: xx-large;
}
button#BackHomebtn{
   width: 100%;
   margin-top: 10%;
}
label.labelregister{
   color: aliceblue;
}
ul#menulist{
   display: flex;
   /* gap: 5%; */
   list-style: none;
   text-align: center;
   background-color: black;
   margin: 0%;
   padding: 0px;
}
input.menutbtn{
   width: 100%;
   height: 100%;
   background-color: aqua;
   
}
th,th,td{
   border: 2px solid black;
   padding: 3px;
}
ul#ConfigurationDetails{
   list-style: none;
}
button{
   font-family: "mainfont";

}
input{
   font-family: "mainfont";

}
th#lifeth{
   font-family: "mainfont";
   border: none;
   width: 15%;
   height: 5%;
}
img.hartimg{

   width: 15%;
   height:15%;
}
table#LifeTable{
   font-family: "mainfont";

   border: none;
}
th.lifeTH{
   font-family: "mainfont";

   border: none;
}
li.menuli{
   font-family: "mainfont";
   width: 100%;
   height: auto;
   text-align: center;
}
div#youlostpage{
   width: 100%;
   height: 100%;
   display: none;
   grid-template-columns: 1fr ;
   grid-template-rows: 4fr 2fr 0.5fr;
   text-align: center;
}
ul{
   list-style: none;

}
div#header_list{
   width: 100%;
   height: 100%;
}
div#footer{
   grid-row: 3/ span 1;
   grid-column: 1/ span 3;
   margin: 0%f;

}
ul#footerul{
   margin: 0%;
   width: 100%;
   height: 100%;
   padding: 0px;
   list-style: none;
   background-color: black;
   display:flex;

}
li#menuimg{
   margin:0% ;
   padding: 0%;
   text-align: center;
}
img#imgmenulist{
   margin-top: 5%;
   width: 50px;
   height: 50px;
   padding: 0%;
   margin-bottom: 5%;
   background-image:url("resources/bullet-egg-small.png");
}
p.footerTags{
   margin: 0%;
   padding: 0%;
}
img#imageliyoulostimage{
   background-image: url("resources/youloseimg1.png");
   background-size: cover;
   width: 50%;
   height: 50%;
   padding-bottom: 50px;
}
div#imagecpmtaineryoulost{
   width: 100%;
   height: 100%;
   grid-row: 1/ span 1;
   grid-column: 1/ span 1;
}
div#youloosedivlist{
   width: 50%;
   height: 50%;
   grid-row: 2/ span 1;
   grid-column: 1/ span 1;
}
div#btnyoulostbtn{
   width: 100%;
   height: 100%;
   grid-row: 3/ span 1;
   grid-column: 1/ span 1;
}
#Close_Modal {
   position: absolute;
   top: 0;
   right: 0;
 }
#About_Modal {padding: 0;}
#Modal_DIV {padding: 16px;}
