div.main{
   margin: auto;
   padding: 10px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr ;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   /* background-color: blue; */
   gap: 20px;
   width: 95%;
   height: 95%;
}
div.gameCanvas{
   text-align: center;
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 2;
   grid-row-end:3 ;
   display:none;
}
canvas#theCanvas{
   
   background-color: black;
 
}
input#startButton{
   grid-column-end: 2;
   grid-column-start: 3;
   grid-row-start: 3;
   grid-row-end:4 ;
   display: none;
}
div#footer{
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 7;
   grid-row-end:7 ;
   background-color: aliceblue; 
   margin: auto;
   width: 100%;
   padding: 10px;
}
body{
   display: flex;
   align-items: center;
}


div#welcomePage{
   display: flex;
   align-items: center;
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end:7 ;
   z-index: 1;
   padding: 10px;
   /* display: grid; */
   /* grid-template-columns: 1fr 1fr 1fr ;
   grid-template-rows: 1fr 1fr ; */
   /* background-color: blue; */
   /* gap: 20px; */
   width: 100%;
   height: 100%;

}
div#moveToLoginPage{
   

}
div#welcomePagebtns{
   z-index: 1;
   text-align: center;
   margin: auto;
   padding: 10px;   
}
img#backgroudImg{
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end:7 ;
   z-index: 0;
   width: 100%;
   height: 100%;

   
}
div#loginPage{
   display: none;

   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end:7 ;
   z-index: 1;

}
div.btn{
   display: grid;
   grid-template-columns: repeat(5,1fr) ;
   grid-template-rows: repeat(20,1fr);
}
input#username{
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 9;
   grid-row-end:10 ;
}
input#password{
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 10;
   grid-row-end:11 ;
}
button#loginbtn{
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 11;
   grid-row-end:12 ;
}
label {
   display: block;
   font: 1rem 'Fira Sans', sans-serif;
}
input,
label {
   margin: 0.4rem 0;
}
